/Neelansh_Khare_resume.aux
/Neelansh_Khare_resume.fls
/Neelansh_Khare_resume.log
/Neelansh_Khare_resume.out
/Neelansh_Khare_resume.fdb_latexmk
/Neelansh_Khare_resume.synctex.gz
/placesToUpdate.txt
/Neelansh_Khare_resume_.pdf